# **Avance I**
# Data Science I : Fundamentos para la Ciencia de Datos
### Fecha: 04/03/2024

## Objetivos:

### Elección de Dataset

- Identificar 3 datasets con las siguientes características:
    -  Al menos 2000 filas.
    -  Al menos 15 columnas.
- Crearás un notebook que deberá tener en primera instancia un abstract (250/500 palabras) de acuerdo al dataset elegido del desafío.
- Crear un notebook donde cargarás los datos utilizando la librería Pandas.
- Describir las variables que sean más interesantes teniendo en cuenta el contexto comercial y analítico del problema que se quiera resolver.
- El dataset debe estar subido a Github y compartido desde allí.
- El código debe estar hecho en un notebook y debe estar probado.

# Datasets

## 1. `CitibikeTripdata.csv`
### Descripción:

- El archivo `CitibikeTripdata.csv` contiene información detallada sobre los viajes realizados utilizando el sistema de bicicletas compartidas conocido como Citibike. Este sistema, operado por Motivate en colaboración con Citibank, ofrece servicios de alquiler de bicicletas en la ciudad de Nueva York, permitiendo a los usuarios rentar bicicletas por períodos cortos, especialmente para desplazamientos dentro de la ciudad.

- El conjunto de datos proporciona una amplia gama de información relacionada con los viajes, incluyendo la duración de los mismos, la ubicación de inicio y fin en las estaciones designadas, así como la fecha y hora tanto de inicio como de finalización de cada viaje. Además, se incluye la identificación única de cada bicicleta utilizada en el sistema.

- Es importante destacar que estos datos son una valiosa fuente de información para la investigación en áreas como la movilidad urbana, la planificación del transporte y el análisis de patrones de desplazamiento en entornos urbanos. Este conjunto de datos específico fue extraído del libro "Practical Python Data Wrangling and Data Quality".

### Variables releventes

- `tripduration`: La duración del viaje es una medida fundamental que puede proporcionar información sobre el comportamiento de los usuarios y la demanda del servicio de bicicletas compartidas.

- `starttime` y `stoptime`: Estas variables indican el momento en que comenzó y terminó cada viaje, lo que permite analizar patrones de uso a lo largo del tiempo, como horas punta y períodos de baja demanda.

- `start station id` y `end station id`: Identificadores de las estaciones de inicio y fin de cada viaje. Estas variables son cruciales para analizar la distribución geográfica de los viajes y la utilización de las estaciones de bicicletas.

- `usertype`: Esta variable indica el tipo de usuario, que podría ser "suscriptor" o "cliente ocasional". Esto podría ser útil para segmentar el análisis según el tipo de usuario y comprender mejor sus comportamientos y necesidades.

- `gender` y `birth year`: Estas variables pueden proporcionar información demográfica sobre los usuarios, lo que podría ser relevante para entender mejor quiénes están utilizando el servicio de bicicletas compartidas y cómo se distribuye su uso entre diferentes grupos de edad y género.

In [2]:
# Importamos la libreria pandas
import pandas as pd

In [3]:
# Asignamos el dataset a la variable citibike
citibike = pd.read_csv("../Data/CitibikeTripdata.csv")

In [4]:
# Imprimimos solo las primeras cinco filas del dataset
citibike.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,4225,00:01.0,10:26.6,3508,St Nicholas Ave & Manhattan Ave,40.809725,-73.953149,116,W 17 St & 8 Ave,40.741776,-74.001497,44317,Customer,1979,1
1,1868,00:04.8,31:13.8,3621,27 Ave & 9 St,40.773983,-73.930913,3094,Graham Ave & Withers St,40.716981,-73.944859,37793,Customer,1991,1
2,1097,00:06.9,18:24.2,3492,E 118 St & Park Ave,40.800539,-73.941995,3959,Edgecombe Ave & W 145 St,40.823498,-73.943860,41438,Subscriber,1984,1
3,1473,00:07.7,24:41.2,3946,St Nicholas Ave & W 137 St,40.818477,-73.947568,4002,W 144 St & Adam Clayton Powell Blvd,40.820877,-73.939249,35860,Customer,1990,2
4,1193,00:12.2,20:05.5,3081,Graham Ave & Grand St,40.711863,-73.944024,3048,Putnam Ave & Nostrand Ave,40.684020,-73.949770,26396,Customer,1969,0

## 2. `loan_data.csv`
### Descripción: 
El archivo `loan_data.csv` contiene una recopilación de datos relacionados con préstamos bancarios. Es un conjunto de datos ampliamente utilizado en libros, análisis financieros, prácticas de ciencia de datos, análisis de datos, aprendizaje automático, modelado predictivo, entre otros campos.- 

Dentro de este conjunto de datos, se incluyen diversos atributos que proporcionan información detallada sobre cada préstamo. Esto incluye identificadores únicos para los préstamos, monto del préstamo, tasas de interés asociadas, plazos de pago, estados del préstamo (por ejemplo, pagado, atrasado), tipo de préstamo, historial de pagos, información sobre garantías y otros detalles relevantes sobre los préstamos bancario- s.

La utilidad de estos datos radica en su capacidad para respaldar análisis financieros, evaluación de riesgos crediticios, elaboración de modelos predictivos y otros estudios relacionados con la gestión de préstamos y la toma de decisiones financie- ras.

Es importante señalar que este conjunto de datos en particular fue extraído del libro "Estadísticas Prácticas Para Ciencia de Datos con R y Python".

### Variables releventes

- `status`: El estado del préstamo (pagado, atrasado, etc.) es fundamental para comprender el resultado de los préstamos y su impacto en la gestión de riesgos crediticios.

- `loan_amnt`: El monto del préstamo es importante para comprender la cantidad de dinero prestado y su relación con la capacidad de pago del prestatario.

- `term`: El plazo del préstamo puede influir en la capacidad de pago mensual del prestatario y en la probabilidad de incumplimiento.

- `annual_inc`: Los ingresos anuales del prestatario son críticos para evaluar su capacidad de pago y determinar el nivel de riesgo crediticio.

- `dti`: La relación deuda-ingresos (DTI) es una medida clave de la capacidad del prestatario para manejar nuevas deudas en relación con sus ingresos actuales.

- `purpose`: El propósito del préstamo puede proporcionar información sobre la finalidad del préstamo y su impacto en la capacidad de pago del prestatario.

- `revol_bal`: El saldo revolvente (revolving balance) indica la cantidad de deuda que el prestatario mantiene en cuentas de crédito renovables, lo que puede afectar su capacidad de pago y su salud financiera general.

- `revol_util`: La utilización del crédito revolvente (revolving credit utilization) es otra medida importante de la salud financiera del prestatario y su capacidad de pago.

- `delinq_2yrs_zero`: Indica si el prestatario ha tenido retrasos en los pagos en los últimos 2 años, lo que puede ser indicativo de su historial de crédito y su capacidad de pago.

- `open_acc`: El número de cuentas abiertas puede proporcionar información sobre la diversificación del crédito del prestatario y su capacidad de pago.

- `grade`: La calificación del préstamo (A, B, C, etc.) proporciona una evaluación del riesgo crediticio asociado al préstamo.

- `outcome`: El resultado del préstamo (aprobado, denegado, etc.) es crucial para comprender los resultados del proceso de solicitud de préstamo.

In [5]:
# Asignamos el dataset a la variable load_data
loan_data = pd.read_csv("../Data/loan_data.csv")

In [6]:
# Imprimimos solo las primeras cinco filas del dataset
loan_data.head()

,Unnamed: 0,status,loan_amnt,term,annual_inc,dti,payment_inc_ratio,revol_bal,revol_util,purpose,...,delinq_2yrs_zero,pub_rec_zero,open_acc,grade,outcome,emp_length,purpose_,home_,emp_len_,borrower_score
0,1,Charged Off,2500,60 months,30000,1.00,2.39320,1687,9.4,car,...,1,1,3,4.8,default,1,major_purchase,RENT,> 1 Year,0.65
1,2,Charged Off,5600,60 months,40000,5.55,4.57170,5210,32.6,small_business,...,1,1,11,1.4,default,5,small_business,OWN,> 1 Year,0.80
2,3,Charged Off,5375,60 months,15000,18.08,9.71600,9279,36.5,other,...,1,1,2,6.0,default,1,other,RENT,> 1 Year,0.60
3,4,Charged Off,9000,36 months,30000,10.08,12.21520,10452,91.7,debt_consolidation,...,1,1,4,4.2,default,1,debt_consolidation,RENT,> 1 Year,0.50
4,5,Charged Off,10000,36 months,100000,7.06,3.90888,11997,55.5,other,...,1,1,14,5.4,default,4,other,RENT,> 1 Year,0.55

## 3. `ObesityDataSet.csv`

### Descripción:

El conjunto de datos proporciona información crucial para estimar los niveles de obesidad en individuos de México, Perú y Colombia, fundamentándose en sus hábitos alimenticios y estado físico. Compuesto por 17 atributos y 2111 registros, cada entrada está marcada con la variable de clase "NObesity", permitiendo una variedad de análisis como clasificación, agrupación y regresión. Estos análisis se basan en categorías que incluyen Peso Insuficiente, Peso Normal, Sobrepeso Nivel I y II, así como tres tipos de Obesidad: Tipo I, Tipo II y Tipo III. Esta diversidad de categorías facilita una comprensión profunda y detallada de los patrones de obesidad en las poblaciones de los tres países mencionados. Los datos presentan una oportunidad valiosa para investigadores y profesionales de la salud, permitiendo la identificación de factores de riesgo, la evaluación de la eficacia de intervenciones preventivas y la formulación de políticas de salud pública dirigidas a abordar el problema de la obesidad en la región latinoamericana. Este conjunto de datos es una herramienta invaluable para avanzar en la comprensión y el tratamiento de la obesidad, contribuyendo así a la promoción de estilos de vida saludables y la mejora del bienestar de la población.

### Variables releventes

- `Gender` --- > Género: Indica el género del individuo.
- `Age` ---> Edad: Representa la edad del individuo.
- `Height` ---> Altura: Mide la altura del individuo en metros.
- `Weigh` ---> Peso: Indica el peso del individuo en kilogramos.
- `family_history_with_overweight` ---> Antecedentes familiares de sobrepeso: Refleja si el individuo tiene antecedentes familiares de sobrepeso.
- `FAVC` ---> Consumo frecuente de alimentos altos en calorías: Indica si el individuo consume regularmente alimentos altos en calorías.
- `FCVC` ---> Frecuencia de consumo de verduras: Representa la frecuencia con la que el individuo consume verduras.
- `NCP` ---> Número de comidas principales: Indica el número de comidas principales que el individuo consume al día.
- `CAEC` ---> Consumo de alimentos entre comidas: Refleja el consumo de alimentos entre comidas del individuo.
- `SMOKE` ---> Fumador o no: Indica si el individuo es fumador o no.
- `CH2O` ---> Consumo diario de agua: Mide el consumo diario de agua del individuo en litros.
- `SCC` ---> Monitoreo del consumo de calorías: Indica si el individuo monitorea su consumo de calorías.
- `FAF` ---> Frecuencia de actividad física: Representa la frecuencia con la que el individuo realiza actividad física.
- `TUE` ---> Tiempo utilizando dispositivos tecnológicos: Indica el tiempo que el individuo pasa utilizando dispositivos tecnológicos.
- `CALC` ---> Consumo de alcohol: Refleja el consumo de alcohol del individuo.
- `MTRANS` ---> Medio de transporte utilizado: Indica el medio de transporte que el individuo utiliza.
- `NObeyesdad` ---> Nivel de obesidad deducido: Representa el nivel de obesidad deducido del individuo.

In [9]:
# Asignamos el dataset a la variable 
df = pd.read_csv("../Data/ObesityDataSet.csv")

In [10]:
# Imprimimos solo las primeras cinco filas del dataset
df.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II